_config/Skype/
_config/nautilus/
_config/ristretto/
_config/software-center/
_config/sublime-text-2/
_config/totem/
_config/xfce4/
_config/yelp/
_config/libreoffice/
_config/chromium/
_config/gnome-control-center/
_config/gedit/
_config/evince/
_config/eog/
_config/compiz/
_config/compiz-1/
_config/Trolltech.conf

