[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Icon=/home/sst/bin/eclipse-juno/icon.xpm
Exec=/home/sst/bin/eclipse
Terminal=false
Categories=Development;IDE;Java;
X-XFCE-Source=file:///usr/share/applications/eclipse.desktop
Path=
StartupNotify=false
