[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/local/bin/sublime_text
Icon=/usr/local/sublime-text/Icon/48x48/sublime_text.png
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Run Program...
Name[de]=Sublime Text 2
Comment=Run a program
Comment[de]=Best Editor
X-XFCE-Source=file:///usr/share/applications/xfrun4.desktop
Path=/usr/local/share/sublime-text
