[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/alarmclock
Icon=alarm-clock
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Alarm Clock
Comment=Alarm Clock
X-XFCE-Source=file:///usr/share/applications/xfrun4.desktop
Path=
