[Desktop Entry]
Version=1.0
Name=Subcommander
GenericName=Subversion Client
Comment=A GUI Client for Subversion
Type=Application
Exec=subcommander
Icon=/usr/share/pixmaps/subcommander.xpm
Categories=Development;
X-XFCE-Source=file:///usr/share/applications/subcommander.desktop
